$font-path: './assets/fonts';
@import './overrides';

$fonts: (
	IBM-Plex-Mono: false,
	IBM-Plex-Sans-Arabic: false,
	IBM-Plex-Sans-Devanagari: false,
	IBM-Plex-Sans-Hebrew: false,
	IBM-Plex-Sans-Thai-Looped: false,
	IBM-Plex-Sans-Thai: false,
	IBM-Plex-Sans: false,
	IBM-Plex-Serif: false,
);

@import '@carbon/styles';

// @import '@carbon/styles/scss/fonts/_mono.scss';
// @import '@carbon/styles/scss/fonts/_sans.scss';

@import './variables';
@import './mixins';
