.migrationPanel {
	.pageTitle {
		margin-bottom: 1rem;
	}

	.migrationWizardModal {
		margin: 0 0 1.5rem 1rem;
	}

	.twistyWrapper {
		padding: 1rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
		background: #21272a;
	}

	.twistyTitle {
		background: #0353e9;
		padding: 1rem;
		cursor: pointer;
	}

	.twistyContent {
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-left: 1rem;

		.componentListWrapper {
			width: 60%;
		}

		h2 {
			margin-bottom: 1rem;
		}

		.progressInfoContent {
			display: flex;
			justify-content: flex-start;

			p {
				margin-left: 1rem;
			}

			.progressIcon {
				margin-top: 0.2rem;
			}

			.skeletonText {
				width: 8rem;
				margin-top: 0.2rem;
			}

			.iconNotStarted {
				fill: #4589ff;
			}

			.iconSuccess {
				fill: #24a148;
			}

			.iconInProgress {
				fill: #ff832b;
			}
		}

		.componentListSkeleton {
			width: 20rem;
		}
	}

	.diagramWrap {
		width: 50rem;
		height: 20rem;
		border: 1px #fff solid;
		margin: auto;
		margin-bottom: 1rem;
		margin-top: 2rem;
	}

	.centerText {
		width: 100%;
		text-align: center;
		font-weight: 500;
	}

	.infoTitle {
		font-weight: 500;
		margin-top: 1.5rem;
	}

	.newUrl {
		margin: 1.6rem 0 0 1rem;
	}
}
