.ibp-template-progress-bar-container {
	align-items: center;
	background-color: black;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	left: 50%;
	min-height: 3rem;
	position: fixed;
	transform: translateX(-50%);
	width: 95%;
	z-index: $firstLayer;
	.ibp-template-progress-bar-label {
		@include carbon--type-style('label-01');
		color: $carbon--cool-gray-30;
		padding: 0 1rem;
		&.ibp-template-resume-link {
			color: $carbon--blue-40;
			margin: 0 1rem;
			padding: 0;
		}
	}
	.ibp-template-progress-bar {
		width: 83%;
		position: relative;
		.ibp-template-progress-fill,
		.ibp-template-progress-fill-background {
			display: block;
			height: 1px;
		}
		.ibp-template-progress-fill {
			background-color: $carbon--blue-50;
			transition: width 0.2s cubic-bezier(0.2, 0.2, 0.38, 0.9);
		}
		.ibp-template-progress-fill-background {
			background-color: $itemBackground;
			width: 100%;
		}
	}
	.ibp-template-maximize-button {
		background: transparent;
		border: 0;
		cursor: pointer;
		height: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0;
		width: 1rem;
	}
	.ibp-template-warning-message-container {
		align-items: center;
		display: flex;
		padding: 0 1rem;
		.ibp-template-warning-message {
			@include carbon--type-style('label-01');
			color: $carbon--cool-gray-30;
			padding-left: 0.5rem;
		}
	}
}
