$carbon--theme: map-merge($carbon--theme--g100,
		(ui-background: $carbon--cool-gray-100,
			ui-01: $carbon--cool-gray-90,
			ui-02: $carbon--cool-gray-80,
			ui-03: $carbon--cool-gray-80,
			ui-04: $carbon--cool-gray-60,
			ui-05: $carbon--cool-gray-10,
			text-01: $carbon--cool-gray-10,
			text-02: $carbon--cool-gray-30,
			text-03: $carbon--cool-gray-60,
			icon-01: $carbon--cool-gray-10,
			icon-02: $carbon--cool-gray-30,
			field-01: $carbon--cool-gray-90,
			field-02: $carbon--cool-gray-80,
			inverse-01: $carbon--cool-gray-100,
			inverse-02: $carbon--cool-gray-10,
			inverse-support-01: $carbon--red-60,
			overlay-01: $carbon--cool-gray-100,
			interactive-02: $carbon--cool-gray-80,
			hover-secondary: $carbon--cool-gray-70,
			hover-tertiary: $carbon--cool-gray-10,
			hover-ui: $carbon--cool-gray-90,
			hover-selected-ui: $carbon--cool-gray-80,
			hover-row: $carbon--cool-gray-90,
			active-secondary: $carbon--cool-gray-80,
			active-tertiary: $carbon--cool-gray-30,
			active-ui: $carbon--cool-gray-70,
			selected-ui: $carbon--cool-gray-80,
			disabled-01: $carbon--cool-gray-90,
			disabled-02: $carbon--cool-gray-80,
			disabled-03: $carbon--cool-gray-60,
			highlight: $carbon--blue-20 ));
